@import url(https://lsong.org/stylesheets/theme/default.css);
@import url(https://lsong.org/stylesheets/panel.css);
@import url(https://lsong.org/stylesheets/button.css);

.box {
  width: 50px;
  height: 30px;
  background-color: blue;
  border: 1px solid var(--border-color);
}
